 /* Estilo geral do body */
 body {
    font-family: Arial, sans-serif;font-family: "firula", sans-serif;
font-weight: 500;
font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background-image: url(https://images.pexels.com/photos/15447422/pexels-photo-15447422/free-photo-of-cidade-meio-urbano-por-do-sol-predios.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: 100%;
   color: #fff;
}

/* Estilo do cabeçalho */
header h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 20px 0;
    font-family: "firula", sans-serif;
font-weight: 500;
font-style: normal;
}

/* Container do formulário */
form {
    background: rgba(235, 13, 13, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

label { 
    display: block;
    margin-bottom: 8px;
    font-weight:  bold;
    color: #fff;

}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="color"],
input[type="range"],
textarea {
    width: calc(100% - 20px);
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgb(215, 206, 230);
    font-size: 1rem;
    color:rgb(11, 10, 10);
    outline: none;
    box-shadow: inset 0 1px 3px rgb(199, 104, 233) ;

}
textarea {
     resize: none;}

     input [type="checkbox"],
     input [type="radio"]{
     margin-right: 8px;
        
     }
     input[type="submit"]{
        background: #de35db;
        color:#eb8bea;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        width: 100%;
        transition: background 0.3s ease;
        margin-top: 10px;

     }
 input[type="submit"]:hover {
    background: #6de346;


 }
















